<p class="title">Typography</p>
<div class="card">
  <p class="tagname">H1</p>
  <h1>タイトル1</h1>

  <p class="tagname">H2</p>
  <h2>タイトル2</h2>

  <p class="tagname">H3</p>
  <h3>タイトル3</h3>

  <p class="tagname">Normal</p>
  <p>通常のテキスト</p>
</div>

<p class="title">Buttons</p>
<div class="card">
  <p class="tagname">Toggle Busy</p>
  <input type="checkbox" [(ngModel)]="busy" />

  <p class="tagname">Fill</p>
  <div class="flex gap-4">
    <button class="ui-button ui-button-face-fill-blue">テスト</button>
    <button class="ui-button ui-button-face-fill-gray">テスト</button>
    <button class="ui-button ui-button-face-fill-red">テスト</button>
    <button class="ui-button ui-button-face-fill-blue ui-button-disabled" disabled>Disabled</button>

    <button class="ui-button ui-button-face-fill-blue" 
      [class.ui-button-disabled]="busy"
      [disabled]="busy"
    >
      <span [class.hidden]="busy">Busy</span>
      <spinner [class.hidden]="!busy" class="w-5"></spinner>
    </button>
  </div>

  <p class="tagname">Fill & Small</p>
  <div class="flex gap-4">
    <button class="ui-button ui-button-size-sm ui-button-face-fill-blue">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-fill-gray">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-fill-red">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-fill-blue ui-button-disabled" disabled>Disabled</button>

    <button class="ui-button ui-button-size-sm ui-button-face-fill-blue"
      [class.ui-button-disabled]="busy"
      [disabled]="busy"
    >
      <span [class.hidden]="busy">Busy</span>
      <spinner [class.hidden]="!busy" class="w-4"></spinner>
    </button>
  </div>

  <p class="tagname">Outline</p>
  <div class="flex gap-4">
    <button class="ui-button ui-button-face-outline-blue">テスト</button>
    <button class="ui-button ui-button-face-outline-gray">テスト</button>
    <button class="ui-button ui-button-face-outline-red">テスト</button>
    <button class="ui-button ui-button-face-outline-blue ui-button-disabled" disabled>Disabled</button>

    <button class="ui-button ui-button-face-outline-blue"
      [class.ui-button-disabled]="busy"
      [disabled]="busy"
    >
      <span [class.hidden]="busy">Busy</span>
      <spinner [class.hidden]="!busy" class="w-4"></spinner>
    </button>
  </div>

  <p class="tagname">Outline & Small</p>
  <div class="flex gap-4">
    <button class="ui-button ui-button-size-sm ui-button-face-outline-blue">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-outline-gray">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-outline-red">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-outline-blue ui-button-disabled" disabled>Disabled</button>

    <button class="ui-button ui-button-size-sm ui-button-face-outline-blue"
      [class.ui-button-disabled]="busy"
      [disabled]="busy"
    >
      <span [class.hidden]="busy">Busy</span>
      <spinner [class.hidden]="!busy" class="w-4"></spinner>
    </button>
  </div>

  <p class="tagname">Link</p>
  <div class="flex gap-4">
    <button class="ui-button ui-button-face-link-blue">テスト</button>
    <button class="ui-button ui-button-face-link-gray">テスト</button>
    <button class="ui-button ui-button-face-link-red">テスト</button>
    <button class="ui-button ui-button-face-link-blue ui-button-disabled" disabled>Disabled
    </button>

    <button class="ui-button ui-button-face-link-blue"
      [class.ui-button-disabled]="busy"
      [disabled]="busy"
    >
      <span [class.hidden]="busy">Busy</span>
      <spinner [class.hidden]="!busy" class="w-5"></spinner>
    </button>
  </div>

  <p class="tagname">Link & Small</p>
  <div class="flex gap-4">
    <button class="ui-button ui-button-size-sm ui-button-face-link-blue">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-link-gray">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-link-red">テスト</button>
    <button class="ui-button ui-button-size-sm ui-button-face-link-blue ui-button-disabled" disabled>Disabled</button>

    <button class="ui-button ui-button-size-sm ui-button-face-link-blue"
      [class.ui-button-disabled]="busy"
      [disabled]="busy"
    >
      <span [class.hidden]="busy">Busy</span>
      <spinner [class.hidden]="!busy" class="w-4"></spinner>
    </button>
  </div>
</div>

<p class="title">Inputs</p>
<div class="card">
  <p class="tagname">Text</p>
  <div class="flex gap-4">
    <input type="text" class="ui-input-text" placeholder="テスト" />
    <input type="text" class="ui-input-text ui-input-text-disabled" placeholder="Disabled" disabled />
    <input type="text" class="ui-input-text ui-input-text-invalid" placeholder="Invalid" />
  </div>

  <p class="tagname">Checkbox</p>
  <div class="flex gap-4">
    <input type="checkbox" class="ui-input-checkbox" />
    <input type="checkbox" class="ui-input-checkbox ui-input-checkbox-disabled" disabled />
  </div>

  <p class="tagname">Radio</p>
  <div class="flex gap-4">
    <input type="radio" name="radio" class="ui-input-radio" />
    <input type="radio" name="radio" class="ui-input-radio ui-input-radio-disabled" disabled />
  </div>
</div>

<p class="title">Brand Labels</p>
<div class="card">
  <p class="tagname">Fill</p>
  <div class="flex gap-4">
    <span class="ui-label-brand ui-label-brand-face-fill-product">Product</span>
    <span class="ui-label-brand ui-label-brand-face-fill-foo">Foo</span>
    <span class="ui-label-brand ui-label-brand-face-fill-bar">Bar</span>
    <span class="ui-label-brand ui-label-brand-face-fill-generic">Generic</span>
    <span class="ui-label-brand ui-label-brand-face-fill-product ui-label-brand-disabled">Disabled</span>
  </div>

  <p class="tagname">Outline</p>
  <div class="flex gap-4">
    <span class="ui-label-brand ui-label-brand-face-outline-product">Product</span>
    <span class="ui-label-brand ui-label-brand-face-outline-foo">Foo</span>
    <span class="ui-label-brand ui-label-brand-face-outline-bar">Bar</span>
    <span class="ui-label-brand ui-label-brand-face-outline-generic">Generic</span>
    <span class="ui-label-brand ui-label-brand-face-outline-product ui-label-brand-disabled">Disabled</span>
  </div>
</div>

<p class="title">Callout</p>
<div class="card">
  <p class="tagname">With Title</p>
  <section class="ui-callout">
    <h3 class="ui-callout-caption">ツールの使い方</h3>
    <p class="ui-callout-body">
      こんにちは！
      <a href="" class="ui-callout-link">よくある質問</a> をご覧ください。
    </p>
  </section>

  <p class="tagname">Body Only</p>
  <section class="ui-callout">
    <p class="ui-callout-body">
      こんにちは！
      <a href="" class="ui-callout-link">よくある質問</a> をご覧ください。
    </p>
  </section>
</div>

<p class="title">Loading</p>
<div class="card">
  <p class="tagname">With Text</p>
  <section class="ui-loading">
    <spinner class="w-7"></spinner>
    <p>しばらくお待ちください</p>
  </section>

  <p class="tagname">Icon Only</p>
  <section class="ui-loading">
    <spinner class="w-7"></spinner>
  </section>
</div>
