body {
  padding: 32px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  margin: 18px 0;
}
.card {
  outline:black solid 1px;
  padding: 16px 16px 32px 16px;
  margin-left: 16px; 
}
.tagname {
  font-size: 14px;
  color: gray;
  margin: 16px 0;
}
